@import "@office/ui/src/theme.css";
@import "@office/ui/src/components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}
